{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row mt-3">
	<div class="col-lg-4">
		<div class="box-element product">
			<img src="https://picsum.photos/id/544/400/300" width="100%">

		</div>
	</div>
	<div class="col-lg-4">
		<div class="box-element product">
			<img src="https://picsum.photos/id/654/400/300" width="100%">

		</div>		
	</div>
	<div class="col-lg-4">
		<div class="box-element product">
			<img src="https://picsum.photos/id/543/400/300" width="100%">
		</div>		
	</div>
</div>

{% endblock %}